
@{
                /**/

                ViewBag.Title = "CLBSV";
                Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Assets/Guest/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-sm-12">
                <ul class="breadcrumb">

                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>Tuyển sinh</li>

                </ul>
            </div>
            <div class="col-sm-12" id="blog-listing">

                <div class="post">
                    <h4>@Html.ActionLink("Tên CLB", "CLBSV1", "CauLacBoSV")</h4>
                    <p>
                        Noi dung
                    </p>
                    <p class="read-more btn btn-primary"> @Html.ActionLink("Xem thêm", "CLBSV1", "CauLacBoSV", new { style = "color: White" }) </p>
                </div>


            </div>


        </div>
        <div class="col-sm-12">
            @*@Html.PagedListPager(Model, page => Url.Action("TT_SK", new { page, maloai = ViewBag.Maloai }))*@



        </div>
    </div>


</body>

