
@{
                /**/

                ViewBag.Title = "SK1";
                Layout = "~/Areas/GiaoVien/Views/Shared/_LayoutGV.cshtml";
}

<body>
    <div id="content">

        <div class="container">

            <div class="col-sm-12">
                <ul class="breadcrumb">

                    <li>
                        <a @Html.ActionLink("Trang chủ", "IndexGV", "Home")</a>
                    </li>
                    <li>@Html.ActionLink("Sự kiện", "SK", "SuKien")</li>
                    <li>Tin tức 1</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="post">
                    <div id="text-page" class="box">
                        <h1 style="font-size:22px">Tên tiêu đề</h1>
                        <p>Nội dung tiêu đề</p>
                        <hr />
                        <p>Post by: Khoa CNTT, Ngày: </p>
                        <p>Đính kèm</p>

                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
<style>
    .post {
        background: #f5f5f5;
        margin: 0 0 30px;
        border: solid 1px #e6e6e6;
        box-sizing: border-box;
        padding: 20px;
    }
</style>

