
@{
    ViewBag.Title = "TB";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Assets/Guest/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-sm-12">
                <ul class="breadcrumb">

                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Thông báo", "TB", "ThongBao")
                    </li>


                </ul>
            </div>

            <div class="col-sm-12" id="blog-listing">
               
                    <div class="post">
                        <h4>@Html.ActionLink("Nội dung TB", "ThongBao1", "ThongBao")</h4>
                        <p>
                            @*@item.Noidung*@  Nội dung
                        </p>
                        <p class="read-more btn btn-primary"> @Html.ActionLink("Xem thêm", "ThongBao1", "ThongBao", new { style = "color: White" }) </p>
                    </div>

               
            </div>
        </div>

        @*<p class="read-more"> <a href="" class="btn btn-primary"> Xem thêm</a> </p>*@

        <div class="col-lg-12">
            @*@Html.PagedListPager(Model, page => Url.Action("TB", new { page }))*@
        </div>


    </div>

</body>

