
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}



<div class="bs-example">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#sectionA">Section A</a></li>
        <li><a data-toggle="tab" href="#sectionB">Section B</a></li>
        <li><a data-toggle="tab" href="#sectionC">Section C</a></li>
    </ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
            <button type="submit" class="btn btn-success"> Click Me 1 </button>   
        </div>
        <div id="sectionB" class="tab-pane fade">
            <button type="submit" class="btn btn-success btn2"> Click Me 2 </button>
        </div>
        <div id="sectionC" class="tab-pane fade">
            <button type="submit" class="btn btn-success"> Click Me 3 </button>
        </div>
    </div>
</div>


